@model jQueryAjaxInAsp.NETMVC.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 35%;
            top: 25%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
        .field-validation-error {
            color:red;
        }
    </style>
</head>
<body>
    <div id="login-div" class="jumbotron">
        @using (Html.BeginForm("Autherize", "Login",FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline">Admin</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login" class="btn-success" />
                        <input type="reset" name="name" value="Clear" class="btn-primary"/>
                    </td>
                </tr>
            </table>
        }

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
